extends template
block content
  .page-content.dash
    .dash__content
      .dash__greeting-container
        p Welcome,
        .badge--greeting Samuel
      .dash__role-display-container
        .role-display
          .role-display__role-label
            p.badge--greeting--label Role
          .role-display__role-value Administrator
