.footer
  .footer__bg
  .footer__content-container
    h3.footer__logo AuthRoles
    p BY
    .footer__sc-brand
      .badge
        .badge__text
          h2
            a(href="#") samuelchristopher
