.footer
  .footer__bg
  .footer__content-container
    h3.footer__logo AuthRoles
    p BY
    .footer__sc-brand
      .badge
        .badge__text
          h2
            a(href="https://github.com/samuelchristopher" target="_blank") samuelchristopher
