.header
  h1.header__logo AuthRoles
  .circle-btn.header__menu-btn
    i.material-icons keyboard_arrow_down
//- Add class open to header__nav like, .header__nav.open to open nav
.header__nav
  .circle-btn.header__close-btn
    i.material-icons.close-icon close
  .header__nav-links
    a.header__nav-link(href="#") Create User
    a.header__nav-link(href="#") Quote
