extends template
block content
  .page-content.not-found
    h1.not-found__error-code 404
    p.not-found__message
      | Sorry, we could not
      | <br/> find the page you were
      | <br/>looking for
