extends template
block content
  .page-content.sign-in
    .page-content__center
      input(placeholder="email")
      input(placeholder="password")

      .button.button-primary.sign-in__btn Sign In
