.footer
  position: fixed
  bottom: 0
  width: 100vw

  +e('content-container')
      text-align: center
      padding: 50px
      padding-top: 0
      color: white
      z-index: 3
      position: relative
  +e('logo')
      margin: 0
  +e('bg')
    background: linear-gradient($orange, $purple)
    position: absolute
    top: -40px
    bottom: 0
    left: -100px
    right: -100px
    z-index: 2
    border-radius: 60%
    height: 400px
