.footer
  width: 150vw
  margin-left: -25vw
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  background: linear-gradient($orange, $purple)
  border-radius: 80% 80% 0 0
  padding: 20px 0 40px 0
  color: white
  // position: absolute
  // bottom: 0

@media screen and (min-device-width: 1200px)  and (max-device-width: 1600px)  
  .footer
    position: absolute
    bottom: 0
